<.header>
  <%= @workout.name %>
  <:subtitle>You've done this exercise <%= length(@workouts) %> times</:subtitle>
</.header>
<div>
  <%= build_plot_point(@workouts) %>
</div>
<.back navigate={~p"/workouts/by_name"}>Back to search</.back>
